<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>placeholder</string>
	<key>GCM_SENDER_ID</key>
	<string>000000000000</string>
	<key>BUNDLE_ID</key>
	<string>com.massapp.recallkit</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:000000000000:ios:0000000000000000</string>
	<key>PROJECT_ID</key>
	<string>placeholder-project</string>
	<key>STORAGE_BUCKET</key>
	<string>placeholder-project.appspot.com</string>
	<key>CLIENT_ID</key>
	<string>placeholder.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.placeholder</string>
</dict>
</plist>
